@using BlogSystem.Models.Models;
@model List<Comment>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="pt-3 pb-3 col-12 row">
        <div class="col-6">
            <h2 class="fw-bold">Comment List</h2>
        </div>
    </div>
    <table id="myTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr class="text-center">
                <th>Content</th>
                <th>Blog Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr class="text-center">
                    <td>@obj.Content</td>
                    <td>@obj.Blog.Title</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

